.fixed_head_nav_bar{
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 50px;
    width: 100%;
}
.fixed_head_nav_bar a, input{
    text-decoration: none;
    color: gray;
    margin-top: 15px;
    width: 120px;
}
.nav_bar_left{
    display: flex;
    justify-content: space-around;
}
.nav_bar_left>img{
    padding-top: 5px;
    height: 40px;
    width: 160px;
}
.nav_bar_right{
    display: flex;
    justify-content: space-around;
}
.nav_bar_right img{
    margin-top: 10px;
    height: 30px;
    width: 30px;
    padding-left: 30px;
}
.member{
    padding-top: 15px;
    padding-left: 50px;
}
.intro{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background-color: whitesmoke;
    height: auto;
    width: 100%;
}
.intro>div>img{
    height: 300px;
    width: auto;
}
.intro>div h1,p{
    color: gray;
    padding-top: 30px;
}
.content{
    display: flex;
    justify-content: space-around;
}
.content a{
    text-decoration: none;
    text-align: center;
    color: gray;
    font-size: 20px;
}
.cell{
    height: 50px;
    width: 200px;
    margin: 50px 20px 50px 20px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: gray;
    text-align: left;
 }